<!--<![endif]--><head data-hook="inside_head">
    <meta charset="utf-8">
<title>Appvance Demo Site</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="keywords" content="">
<meta name="description" content="">
<link href="https://demosite.appvance.com/products/" rel="canonical">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-92e86d463e909754599d66730477622cd3dd0b9bff58c47c9c38bebceb8073e5.ico">
<link rel="stylesheet" media="screen" href="/assets/spree/frontend/all-dcce360e77937eb06679c31bcd694097abc747ae87d2bc292fddd5318b67ceff.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="PA79wUdsxQts7o9vX1CWiX5OfavU7yWjuLq7Iu+v8RkkVZFFqGJnrSOvIwZ58/ul4m6PUWQhau8LFMSrmcCavA==">
<script type="text/javascript" src="/ruxitagentjs_ICA2Vfqru_10251220909040818.js" data-dtconfig="rid=RID_1310267050|rpid=1097765905|domain=appvance.com|reportUrl=/rb_bf48486mbw|app=ea7c4b59f27d43eb|rcdec=1209600000|featureHash=ICA2Vfqru|vcv=2|rdnt=1|uxrgce=1|bp=3|srmcrv=10|cuc=hcknujxx|mel=100000|dpvc=1|ssv=4|lastModification=1666861466765|dtVersion=10251220909040818|srmcrl=1|tp=500,50,0,1|uxdcw=1500|agentUri=/ruxitagentjs_ICA2Vfqru_10251220909040818.js"></script><script>
  SpreePaths = {"mounted_at":"/","admin":"admin/"}
</script>

<script src="/assets/spree/frontend/all-0281369d41354ab55fdb55cdccf3c49ba18178485a8e2a8acb9148a19a26c362.js"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<script src="https://ds.appvance.com/ds/dyn/session/getJSSession?_=0.5194055638162199"></script><script src="/ds/static/js/html2canvas.min.js"></script><script src="/ds/static/js/ds.jquery.js"></script><script src="/ds/static/js/ds.utils.js"></script><script src="/ds/static/js/ds.jquery.simulate.js"></script><script src="/ds/static/js/bililiteRange.js"></script><script src="/ds/static/js/pseudostyler.js"></script><script src="/ds/static/js/ds.smarttags.js"></script><script src="/ds/static/js/ds.base.js"></script><script src="/ds/static/js/ds.record.js"></script><script src="/ds/static/js/ds.playback.js"></script><script src="/ds/static/js/ds.entry.js"></script><script src="/ds/static/js/jquery.xpath.js"></script>

    <link rel="next" href="/products?page=2&amp;per_page=">

<script>
  Spree.translations = {"coupon_code_applied":"The coupon code was successfully applied to your order."}
</script>


  </head>
  <body class="two-col" id="default" data-hook="body">
    
    
    <div id="spree-header">
  <header id="header" data-hook="">
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook="">
          <a href="/"><img src="/assets/logo/spree_50-0ae687ccd486b63b01687b1df9e5394430f6fce3ab40c28250b179be4363ddc1.png" alt="Spree 50"></a>
        </figure>
        <nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook="">
  <li id="link-to-login"><a href="/login">Login</a></li>
<li id="search-bar" data-hook="">
      <form class="navbar-form" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <div class="form-group">
      <select name="taxon" id="taxon" aria-label="Taxon" class="form-control"><option value="">All departments</option>
<option value="1">Categories</option>
<option value="2">Brands</option></select>
  </div>
  <div class="form-group">
    <input type="search" name="keywords" id="keywords" placeholder="Search" class="form-control">
  </div>
  <input type="submit" value="Search" class="btn btn-success" data-disable-with="Search">
</form>
    </li>
  </ul>
</nav>

      </div>
    </div>
  </header>
  <div class="container">
    <nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook="">
      <li id="home-link" data-hook=""><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook="">
      <li id="link-to-cart" data-hook=""><a class="cart-info empty" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart: (Empty)</a></li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>

  </div>
</div>


    <div class="container">
      <div class="row" data-hook="">
        

        <aside id="sidebar" class="col-sm-4 col-md-3" data-hook="">
      <div data-hook="homepage_sidebar_navigation">
        
<nav id="taxonomies" class="sidebar-item" data-hook="">
        <h4 class="taxonomy-root">Shop by Categories</h4>
        <div class="list-group"><a class="list-group-item" href="/t/bags">Bags</a>
<a class="list-group-item" href="/t/mugs">Mugs</a>
<a class="list-group-item" href="/t/clothing">Clothing</a></div>
        <h4 class="taxonomy-root">Shop by Brands</h4>
        <div class="list-group"><a class="list-group-item" href="/t/ruby">Ruby</a>
<a class="list-group-item" href="/t/apache">Apache</a>
<a class="list-group-item" href="/t/spree">Spree</a>
<a class="list-group-item" href="/t/rails">Rails</a></div>
</nav>

    </div>

</aside>


        <div id="content" class="col-sm-8 col-md-9" data-hook="">
          
          
  <div data-hook="homepage_products">
      
<div data-hook="products_search_results_heading">
</div>

<script>
  if (typeof analytics !== 'undefined') {
    analytics.track('Product List Viewed', {
      category: '',
      products: [
        {"product_id":1,"sku":"ROR-00011","category":"Bags","name":"Ruby on Rails Tote","brand":"Rails","price":"15.99","currency":"USD","url":"https://demosite.appvance.com/products/ruby-on-rails-tote","image_url":"https://demosite.appvance.com/spree/products/21/product/ror_tote.jpeg?1527769324","position":1},
        {"product_id":2,"sku":"ROR-00012","category":"Bags","name":"Ruby on Rails Bag","brand":"Rails","price":"22.99","currency":"USD","url":"https://demosite.appvance.com/products/ruby-on-rails-bag","image_url":"https://demosite.appvance.com/spree/products/23/product/ror_bag.jpeg?1527769326","position":2},
        {"product_id":3,"sku":"ROR-001","category":"T-Shirts","name":"Ruby on Rails Baseball Jersey","brand":"Rails","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/ruby-on-rails-baseball-jersey","image_url":"https://demosite.appvance.com/spree/products/24/product/ror_baseball.jpeg?1527769327","position":3},
        {"product_id":4,"sku":"ROR-00013","category":"Shirts","name":"Ruby on Rails Jr. Spaghetti","brand":"Rails","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/ruby-on-rails-jr-spaghetti","image_url":"https://demosite.appvance.com/spree/products/26/product/ror_jr_spaghetti.jpeg?1527769328","position":4},
        {"product_id":5,"sku":"ROR-00015","category":"T-Shirts","name":"Ruby on Rails Ringer T-Shirt","brand":"Rails","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/ruby-on-rails-ringer-t-shirt","image_url":"https://demosite.appvance.com/spree/products/29/product/ror_ringer.jpeg?1527769331","position":5},
        {"product_id":6,"sku":"RUB-00001","category":"T-Shirts","name":"Ruby Baseball Jersey","brand":"Ruby","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/ruby-baseball-jersey","image_url":"https://demosite.appvance.com/spree/products/34/product/ruby_baseball.png?1527769335","position":6},
        {"product_id":7,"sku":"APC-00001","category":"T-Shirts","name":"Apache Baseball Jersey","brand":"Apache","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/apache-baseball-jersey","image_url":"https://demosite.appvance.com/spree/products/33/product/apache_baseball.png?1527769334","position":7},
        {"product_id":8,"sku":"SPR-00001","category":"T-Shirts","name":"Spree Baseball Jersey","brand":"Spree","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/spree-baseball-jersey","image_url":"https://demosite.appvance.com/spree/products/41/product/spree_jersey.jpeg?1527769343","position":8},
        {"product_id":9,"sku":"SPR-00013","category":"Shirts","name":"Spree Jr. Spaghetti","brand":"Spree","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/spree-jr-spaghetti","image_url":"https://demosite.appvance.com/spree/products/40/product/spree_spaghetti.jpeg?1527769342","position":9},
        {"product_id":10,"sku":"SPR-00015","category":"T-Shirts","name":"Spree Ringer T-Shirt","brand":"Spree","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/spree-ringer-t-shirt","image_url":"https://demosite.appvance.com/spree/products/38/product/spree_ringer_t.jpeg?1527769340","position":10},
        {"product_id":11,"sku":"SPR-00011","category":"Bags","name":"Spree Tote","brand":"Spree","price":"15.99","currency":"USD","url":"https://demosite.appvance.com/products/spree-tote","image_url":"https://demosite.appvance.com/spree/products/36/product/spree_tote_front.jpeg?1527769338","position":11},
        {"product_id":12,"sku":"SPR-00012","category":"Bags","name":"Spree Bag","brand":"Spree","price":"22.99","currency":"USD","url":"https://demosite.appvance.com/products/spree-bag","image_url":"https://demosite.appvance.com/spree/products/35/product/spree_bag.jpeg?1527769337","position":12},
      ]
    });
  }
</script>

  <div id="products" class="row" data-hook="">
    <div id="product_1" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/ruby-on-rails-tote">
          <img itemprop="image" alt="Ruby on Rails Tote" src="/spree/products/21/small/ror_tote.jpeg?1527769324"><br>
          <span class="info" itemprop="name" title="Ruby on Rails Tote">Ruby on Rails Tote</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="15.99">
            $15.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_2" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/ruby-on-rails-bag">
          <img itemprop="image" alt="Ruby on Rails Bag" src="/spree/products/23/small/ror_bag.jpeg?1527769326"><br>
          <span class="info" itemprop="name" title="Ruby on Rails Bag">Ruby on Rails Bag</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="22.99">
            $22.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_3" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/ruby-on-rails-baseball-jersey">
          <img itemprop="image" alt="Ruby on Rails Baseball Jersey" src="/spree/products/24/small/ror_baseball.jpeg?1527769327"><br>
          <span class="info" itemprop="name" title="Ruby on Rails Baseball Jersey">Ruby on Rails Baseball Jersey</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="19.99">
            $19.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_4" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/ruby-on-rails-jr-spaghetti">
          <img itemprop="image" alt="Ruby on Rails Jr. Spaghetti" src="/spree/products/26/small/ror_jr_spaghetti.jpeg?1527769328"><br>
          <span class="info" itemprop="name" title="Ruby on Rails Jr. Spaghetti">Ruby on Rails Jr. Spaghetti</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="19.99">
            $19.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_5" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/ruby-on-rails-ringer-t-shirt">
          <img itemprop="image" alt="Ruby on Rails Ringer T-Shirt" src="/spree/products/29/small/ror_ringer.jpeg?1527769331"><br>
          <span class="info" itemprop="name" title="Ruby on Rails Ringer T-Shirt">Ruby on Rails Ringer T-Shirt</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="19.99">
            $19.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_6" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/ruby-baseball-jersey">
          <img itemprop="image" alt="Ruby Baseball Jersey" src="/spree/products/34/small/ruby_baseball.png?1527769335"><br>
          <span class="info" itemprop="name" title="Ruby Baseball Jersey">Ruby Baseball Jersey</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="19.99">
            $19.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_7" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/apache-baseball-jersey">
          <img itemprop="image" alt="Apache Baseball Jersey" src="/spree/products/33/small/apache_baseball.png?1527769334"><br>
          <span class="info" itemprop="name" title="Apache Baseball Jersey">Apache Baseball Jersey</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="19.99">
            $19.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_8" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/spree-baseball-jersey">
          <img itemprop="image" alt="Spree Baseball Jersey" src="/spree/products/41/small/spree_jersey.jpeg?1527769343"><br>
          <span class="info" itemprop="name" title="Spree Baseball Jersey">Spree Baseball Jersey</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="19.99">
            $19.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_9" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/spree-jr-spaghetti">
          <img itemprop="image" alt="Spree Jr. Spaghetti" src="/spree/products/40/small/spree_spaghetti.jpeg?1527769342"><br>
          <span class="info" itemprop="name" title="Spree Jr. Spaghetti">Spree Jr. Spaghetti</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="19.99">
            $19.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_10" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/spree-ringer-t-shirt">
          <img itemprop="image" alt="Spree Ringer T-Shirt" src="/spree/products/38/small/spree_ringer_t.jpeg?1527769340"><br>
          <span class="info" itemprop="name" title="Spree Ringer T-Shirt">Spree Ringer T-Shirt</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="19.99">
            $19.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_11" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/spree-tote">
          <img itemprop="image" alt="Spree Tote" src="/spree/products/36/small/spree_tote_front.jpeg?1527769338"><br>
          <span class="info" itemprop="name" title="Spree Tote">Spree Tote</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="15.99">
            $15.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_12" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/spree-bag">
          <img itemprop="image" alt="Spree Bag" src="/spree/products/35/small/spree_bag.jpeg?1527769337"><br>
          <span class="info" itemprop="name" title="Spree Bag">Spree Bag</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="22.99">
            $22.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>

  </div>

  

  <ul class="pagination ">
    
    
        <li class="page active">
  <a href="/products?per_page=">1</a>
</li>

        <li class="page">
  <a rel="next" href="/products?page=2&amp;per_page=">2</a>
</li>

      <li class="next_page">
    <a rel="next" href="/products?page=2&amp;per_page=">Next ›</a>
  </li>

      <li class="last next">
    <a href="/products?page=2&amp;per_page=">Last »</a>
  </li>

  </ul>


  </div>

        </div>

        
      </div>
    </div>
  

</body>