<!--<![endif]--><head data-hook="inside_head">
    <meta charset="utf-8">
<title>Brands - Apache - Appvance Demo Site</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="keywords" content="">
<meta name="description" content="">
<link href="https://demosite.appvance.com/t/apache" rel="canonical">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-92e86d463e909754599d66730477622cd3dd0b9bff58c47c9c38bebceb8073e5.ico">
<link rel="stylesheet" media="screen" href="/assets/spree/frontend/all-dcce360e77937eb06679c31bcd694097abc747ae87d2bc292fddd5318b67ceff.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="9XgEuvJKvbcfQNSXu6gtxouQFx+UYaStg8yIv6mKaAe9mVK/cvxbRWRrsnr+inZ+rCOKREJl2CRWAdcvTtVpYw==">
<script type="text/javascript" src="/ruxitagentjs_ICA2Vfqru_10251220909040818.js" data-dtconfig="rid=RID_-357169591|rpid=447148120|domain=appvance.com|reportUrl=/rb_bf48486mbw|app=ea7c4b59f27d43eb|rcdec=1209600000|featureHash=ICA2Vfqru|vcv=2|rdnt=1|uxrgce=1|bp=3|srmcrv=10|cuc=hcknujxx|mel=100000|dpvc=1|ssv=4|lastModification=1666861466765|dtVersion=10251220909040818|srmcrl=1|tp=500,50,0,1|uxdcw=1500|agentUri=/ruxitagentjs_ICA2Vfqru_10251220909040818.js"></script><script>
  SpreePaths = {"mounted_at":"/","admin":"admin/"}
</script>

<script src="/assets/spree/frontend/all-0281369d41354ab55fdb55cdccf3c49ba18178485a8e2a8acb9148a19a26c362.js"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<script src="https://ds.appvance.com/ds/dyn/session/getJSSession?_=0.5194055638162199"></script><script src="/ds/static/js/html2canvas.min.js"></script><script src="/ds/static/js/ds.jquery.js"></script><script src="/ds/static/js/ds.utils.js"></script><script src="/ds/static/js/ds.jquery.simulate.js"></script><script src="/ds/static/js/bililiteRange.js"></script><script src="/ds/static/js/pseudostyler.js"></script><script src="/ds/static/js/ds.smarttags.js"></script><script src="/ds/static/js/ds.base.js"></script><script src="/ds/static/js/ds.record.js"></script><script src="/ds/static/js/ds.playback.js"></script><script src="/ds/static/js/ds.entry.js"></script><script src="/ds/static/js/jquery.xpath.js"></script>



<script>
  Spree.translations = {"coupon_code_applied":"The coupon code was successfully applied to your order."}
</script>


  </head>
  <body class="two-col" id="default" data-hook="body">
    
    
    <div id="spree-header">
  <header id="header" data-hook="">
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook="">
          <a href="/"><img src="/assets/logo/spree_50-0ae687ccd486b63b01687b1df9e5394430f6fce3ab40c28250b179be4363ddc1.png" alt="Spree 50"></a>
        </figure>
        <nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook="">
  <li id="link-to-login"><a href="/login">Login</a></li>
<li id="search-bar" data-hook="">
      <form class="navbar-form" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <div class="form-group">
      <select name="taxon" id="taxon" aria-label="Taxon" class="form-control"><option value="">All departments</option>
<option value="8">Ruby</option>
<option selected="selected" value="9">Apache</option>
<option value="10">Spree</option>
<option value="11">Rails</option></select>
  </div>
  <div class="form-group">
    <input type="search" name="keywords" id="keywords" placeholder="Search" class="form-control">
  </div>
  <input type="submit" value="Search" class="btn btn-success" data-disable-with="Search">
</form>
    </li>
  </ul>
</nav>

      </div>
    </div>
  </header>
  <div class="container">
    <nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook="">
      <li id="home-link" data-hook=""><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook="">
      <li id="link-to-cart" data-hook=""><a class="cart-info empty" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart: (Empty)</a></li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>

  </div>
</div>


    <div class="container">
      <div class="row" data-hook="">
        <nav id="breadcrumbs" class="col-md-12"><ol class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList"><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/"><span itemprop="name">Home</span></a>&nbsp;</span></li><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/products"><span itemprop="name">Products</span></a>&nbsp;</span></li><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/t/brands"><span itemprop="name">Brands</span></a>&nbsp;</span></li><li class="active" itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/t/apache"><span itemprop="name">Apache</span></a></span></li></ol></nav>

        <aside id="sidebar" class="col-sm-4 col-md-3" data-hook="">
    <div data-hook="taxon_sidebar_navigation">
    
<nav id="taxonomies" class="sidebar-item" data-hook="">
        <h4 class="taxonomy-root">Shop by Categories</h4>
        <div class="list-group"><a class="list-group-item" href="/t/bags">Bags</a>
<a class="list-group-item" href="/t/mugs">Mugs</a>
<a class="list-group-item" href="/t/clothing">Clothing</a></div>
        <h4 class="taxonomy-root">Shop by Brands</h4>
        <div class="list-group"><a class="list-group-item" href="/t/ruby">Ruby</a>
<a class="list-group-item active" href="/t/apache">Apache</a>
<a class="list-group-item" href="/t/spree">Spree</a>
<a class="list-group-item" href="/t/rails">Rails</a></div>
</nav>

    
  <form id="sidebar_products_search" action="" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="per_page" id="per_page">
      <div class="navigation" data-hook="navigation">
        <h4 class="filter-title"> Price Range </h4>
        <ul class="list-group">
            <li class="list-group-item">
              <input type="checkbox" id="Price_Range_Under_$10.00" name="search[price_range_any][]" value="Under $10.00">
              <label class="nowrap" for="Price_Range_Under_$10.00"> Under $10.00 </label>
            </li>
            <li class="list-group-item">
              <input type="checkbox" id="Price_Range_$10.00_-_$15.00" name="search[price_range_any][]" value="$10.00 - $15.00">
              <label class="nowrap" for="Price_Range_$10.00_-_$15.00"> $10.00 - $15.00 </label>
            </li>
            <li class="list-group-item">
              <input type="checkbox" id="Price_Range_$15.00_-_$18.00" name="search[price_range_any][]" value="$15.00 - $18.00">
              <label class="nowrap" for="Price_Range_$15.00_-_$18.00"> $15.00 - $18.00 </label>
            </li>
            <li class="list-group-item">
              <input type="checkbox" id="Price_Range_$18.00_-_$20.00" name="search[price_range_any][]" value="$18.00 - $20.00">
              <label class="nowrap" for="Price_Range_$18.00_-_$20.00"> $18.00 - $20.00 </label>
            </li>
            <li class="list-group-item">
              <input type="checkbox" id="Price_Range_$20.00_or_over" name="search[price_range_any][]" value="$20.00 or over">
              <label class="nowrap" for="Price_Range_$20.00_or_over"> $20.00 or over </label>
            </li>
        </ul>
      </div>
      <div class="navigation" data-hook="navigation">
        <h4 class="filter-title"> Brands </h4>
        <ul class="list-group">
            <li class="list-group-item">
              <input type="checkbox" id="Brands_Conditioned" name="search[brand_any][]" value="Conditioned">
              <label class="nowrap" for="Brands_Conditioned"> Conditioned </label>
            </li>
            <li class="list-group-item">
              <input type="checkbox" id="Brands_Resiliance" name="search[brand_any][]" value="Resiliance">
              <label class="nowrap" for="Brands_Resiliance"> Resiliance </label>
            </li>
            <li class="list-group-item">
              <input type="checkbox" id="Brands_Wannabe_Sports" name="search[brand_any][]" value="Wannabe Sports">
              <label class="nowrap" for="Brands_Wannabe_Sports"> Wannabe Sports </label>
            </li>
        </ul>
      </div>
    <input type="submit" value="Search" class="btn btn-primary" data-disable-with="Search">
</form>
  </div>

</aside>


        <div id="content" class="col-sm-8 col-md-9" data-hook="">
          
          <h1 class="taxon-title">Apache</h1>


<div data-hook="taxon_products">
  
<div data-hook="products_search_results_heading">
</div>

<script>
  if (typeof analytics !== 'undefined') {
    analytics.track('Product List Viewed', {
      category: 'Apache',
      products: [
        {"product_id":7,"sku":"APC-00001","category":"T-Shirts","name":"Apache Baseball Jersey","brand":"Apache","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/apache-baseball-jersey","image_url":"https://demosite.appvance.com/spree/products/33/product/apache_baseball.png?1527769334","position":1},
      ]
    });
  }
</script>

  <div id="products" class="row" data-hook="">
    <div id="product_7" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/apache-baseball-jersey?taxon_id=9">
          <img itemprop="image" alt="Apache Baseball Jersey" src="/spree/products/33/small/apache_baseball.png?1527769334"><br>
          <span class="info" itemprop="name" title="Apache Baseball Jersey">Apache Baseball Jersey</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="19.99">
            $19.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>

  </div>

  


</div>

  <div data-hook="taxon_children">
      
  </div>

        </div>

        
      </div>
    </div>
  

</body>