<!--<![endif]--><head data-hook="inside_head">
    <meta charset="utf-8">
<title>Appvance Demo Site</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="keywords" content="">
<meta name="description" content="">
<link href="https://demosite.appvance.com/?page=2" rel="canonical">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-92e86d463e909754599d66730477622cd3dd0b9bff58c47c9c38bebceb8073e5.ico">
<link rel="stylesheet" media="screen" href="/assets/spree/frontend/all-dcce360e77937eb06679c31bcd694097abc747ae87d2bc292fddd5318b67ceff.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="fcN2kdWzgsZuPRwzwJl109xYA7Om8Osrpf3k64Hb5tFlmBoVOr0gYCF8sFrmOhj/QHjxSRY+pGcWU5ti97SNdA==">
<script type="text/javascript" src="/ruxitagentjs_ICA2Vfqru_10251220909040818.js" data-dtconfig="rid=RID_-995750954|rpid=-1314311196|domain=appvance.com|reportUrl=/rb_bf48486mbw|app=ea7c4b59f27d43eb|rcdec=1209600000|featureHash=ICA2Vfqru|vcv=2|rdnt=1|uxrgce=1|bp=3|srmcrv=10|cuc=hcknujxx|mel=100000|dpvc=1|ssv=4|lastModification=1666861466765|dtVersion=10251220909040818|srmcrl=1|tp=500,50,0,1|uxdcw=1500|agentUri=/ruxitagentjs_ICA2Vfqru_10251220909040818.js"></script><script>
  SpreePaths = {"mounted_at":"/","admin":"admin/"}
</script>

<script src="/assets/spree/frontend/all-0281369d41354ab55fdb55cdccf3c49ba18178485a8e2a8acb9148a19a26c362.js"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<script src="https://ds.appvance.com/ds/dyn/session/getJSSession?_=0.5194055638162199"></script><script src="/ds/static/js/html2canvas.min.js"></script><script src="/ds/static/js/ds.jquery.js"></script><script src="/ds/static/js/ds.utils.js"></script><script src="/ds/static/js/ds.jquery.simulate.js"></script><script src="/ds/static/js/bililiteRange.js"></script><script src="/ds/static/js/pseudostyler.js"></script><script src="/ds/static/js/ds.smarttags.js"></script><script src="/ds/static/js/ds.base.js"></script><script src="/ds/static/js/ds.record.js"></script><script src="/ds/static/js/ds.playback.js"></script><script src="/ds/static/js/ds.entry.js"></script><script src="/ds/static/js/jquery.xpath.js"></script>


<script>
  Spree.translations = {"coupon_code_applied":"The coupon code was successfully applied to your order."}
</script>


  </head>
  <body class="two-col" id="home-page" data-hook="body">
    
    
    <div id="spree-header">
  <header id="header" data-hook="">
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook="">
          <a href="/"><img src="/assets/logo/spree_50-0ae687ccd486b63b01687b1df9e5394430f6fce3ab40c28250b179be4363ddc1.png" alt="Spree 50"></a>
        </figure>
        <nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook="">
  <li id="link-to-login"><a href="/login">Login</a></li>
<li id="search-bar" data-hook="">
      <form class="navbar-form" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <div class="form-group">
      <select name="taxon" id="taxon" aria-label="Taxon" class="form-control"><option value="">All departments</option>
<option value="1">Categories</option>
<option value="2">Brands</option></select>
  </div>
  <div class="form-group">
    <input type="search" name="keywords" id="keywords" placeholder="Search" class="form-control">
  </div>
  <input type="submit" value="Search" class="btn btn-success" data-disable-with="Search">
</form>
    </li>
  </ul>
</nav>

      </div>
    </div>
  </header>
  <div class="container">
    <nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook="">
      <li id="home-link" data-hook=""><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook="">
      <li id="link-to-cart" data-hook=""><a class="cart-info full" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart: (1)  <span class="amount">$19.99</span></a></li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>

  </div>
</div>


    <div class="container">
      <div class="row" data-hook="">
        

        <aside id="sidebar" class="col-sm-4 col-md-3" data-hook="">
    <div data-hook="homepage_sidebar_navigation">
    
<nav id="taxonomies" class="sidebar-item" data-hook="">
        <h4 class="taxonomy-root">Shop by Categories</h4>
        <div class="list-group"><a class="list-group-item" href="/t/bags">Bags</a>
<a class="list-group-item" href="/t/mugs">Mugs</a>
<a class="list-group-item" href="/t/clothing">Clothing</a></div>
        <h4 class="taxonomy-root">Shop by Brands</h4>
        <div class="list-group"><a class="list-group-item" href="/t/ruby">Ruby</a>
<a class="list-group-item" href="/t/apache">Apache</a>
<a class="list-group-item" href="/t/spree">Spree</a>
<a class="list-group-item" href="/t/rails">Rails</a></div>
</nav>

  </div>

</aside>


        <div id="content" class="col-sm-8 col-md-9" data-hook="">
          
          
<div data-hook="homepage_products">
    
<div data-hook="products_search_results_heading">
</div>

<script>
  if (typeof analytics !== 'undefined') {
    analytics.track('Product List Viewed', {
      category: '',
      products: [
        {"product_id":13,"sku":"ROR-00014","category":"Mugs","name":"Ruby on Rails Mug","brand":"Rails","price":"13.99","currency":"USD","url":"https://demosite.appvance.com/products/ruby-on-rails-mug","image_url":"https://demosite.appvance.com/spree/products/27/product/ror_mug.jpeg?1527769329","position":1},
        {"product_id":14,"sku":"ROR-00016","category":"Mugs","name":"Ruby on Rails Stein","brand":"Rails","price":"16.99","currency":"USD","url":"https://demosite.appvance.com/products/ruby-on-rails-stein","image_url":"https://demosite.appvance.com/spree/products/31/product/ror_stein.jpeg?1527769332","position":2},
        {"product_id":15,"sku":"SPR-00016","category":"Mugs","name":"Spree Stein","brand":"Spree","price":"16.99","currency":"USD","url":"https://demosite.appvance.com/products/spree-stein","image_url":"https://demosite.appvance.com/spree/products/43/product/spree_stein.jpeg?1527769344","position":3},
        {"product_id":16,"sku":"SPR-00014","category":"Mugs","name":"Spree Mug","brand":"Spree","price":"13.99","currency":"USD","url":"https://demosite.appvance.com/products/spree-mug","image_url":"https://demosite.appvance.com/spree/products/45/product/spree_mug.jpeg?1527769346","position":4},
      ]
    });
  }
</script>

  <div id="products" class="row" data-hook="">
    <div id="product_13" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/ruby-on-rails-mug">
          <img itemprop="image" alt="Ruby on Rails Mug" src="/spree/products/27/small/ror_mug.jpeg?1527769329"><br>
          <span class="info" itemprop="name" title="Ruby on Rails Mug">Ruby on Rails Mug</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="13.99">
            $13.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_14" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/ruby-on-rails-stein">
          <img itemprop="image" alt="Ruby on Rails Stein" src="/spree/products/31/small/ror_stein.jpeg?1527769332"><br>
          <span class="info" itemprop="name" title="Ruby on Rails Stein">Ruby on Rails Stein</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="16.99">
            $16.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_15" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/spree-stein">
          <img itemprop="image" alt="Spree Stein" src="/spree/products/43/small/spree_stein.jpeg?1527769344"><br>
          <span class="info" itemprop="name" title="Spree Stein">Spree Stein</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="16.99">
            $16.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>
<div id="product_16" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope="" itemtype="https://schema.org/Product">
  <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <a itemprop="url" href="/products/spree-mug">
          <img itemprop="image" alt="Spree Mug" src="/spree/products/45/small/spree_mug.jpeg?1527769346"><br>
          <span class="info" itemprop="name" title="Spree Mug">Spree Mug</span>
</a>        <br>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="13.99">
            $13.99
          </span>
          <span itemprop="priceCurrency" content="USD"></span>
        </span>
      </div>
  </div>
</div>

  </div>

  

  <ul class="pagination ">
      <li class="first">
    <a href="/">« First</a>
  </li>

      <li class="prev">
    <a rel="prev" href="/">‹ Prev</a>
  </li>

        <li class="page">
  <a rel="prev" href="/">1</a>
</li>

        <li class="page active">
  <a href="/?page=2">2</a>
</li>

    
    
  </ul>


</div>


        </div>

        
      </div>
    </div>
    <div id="bitnami-banner" data-banner-id="9ed10">  <style>#bitnami-banner {z-index:100000;height:80px;padding:0px;width:120px;background:transparent;position:fixed;right:0px;bottom:0px;border:0px solid #EDEDED;} #bitnami-banner .bitnami-corner-image-div {position:fixed;right:0px;bottom:0px;border:0px;z-index:100001;height:110px;} #bitnami-banner .bitnami-corner-image-div .bitnami-corner-image {position:fixed;right:0px;bottom:0px;border:0px;z-index:100001;height:110px;} #bitnami-close-banner-button {height:12px;width:12px;z-index:10000000000;position:fixed;right:5px;bottom:65px;display:none;cursor:pointer}</style>  <img id="bitnami-close-banner-button" src="/bitnami/images/close.png" style="display: block;">  <div class="bitnami-corner-image-div">     <a href="/bitnami/index.html" target="_blank">       <img class="bitnami-corner-image" alt="Bitnami" src="/bitnami/images/corner-logo.png">     </a>  </div>  <script type="text/javascript" src="/bitnami/banner.js"> </script> </div>   

</body>