<!--<![endif]--><head data-hook="inside_head">
    <meta charset="utf-8">
<title>Spree Bag - Appvance Demo Site</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="description" content="Ad et corporis voluptate enim quisquam sunt. Rem corrupti esse dolores pariatur ad non excepturi. Amet quasi modi at quia atque distinctio omnis. Magnam...">
<meta name="keywords" content="">
<link href="https://demosite.appvance.com/products/spree-bag" rel="canonical">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-92e86d463e909754599d66730477622cd3dd0b9bff58c47c9c38bebceb8073e5.ico">
<link rel="stylesheet" media="screen" href="/assets/spree/frontend/all-dcce360e77937eb06679c31bcd694097abc747ae87d2bc292fddd5318b67ceff.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="2BZymuhIKE+rJHR/r5K53iQaMToCKdbnE6fLqJkGaFFh/iBz7A9qrXAhWjN4P0iNpMwg0YTVlybVUZfzPl9V4A==">
<script type="text/javascript" src="/ruxitagentjs_ICA2NVfqru_10253221019152312.js" data-dtconfig="rid=RID_366069171|rpid=-1944633034|domain=appvance.com|reportUrl=/rb_bf48486mbw|app=ea7c4b59f27d43eb|rcdec=1209600000|featureHash=ICA2NVfqru|vcv=2|rdnt=1|uxrgce=1|bp=3|srmcrv=10|cuc=hcknujxx|mel=100000|dpvc=1|ssv=4|lastModification=1669971893910|dtVersion=10253221019152312|srmcrl=1|tp=500,50,0,1|uxdcw=1500|agentUri=/ruxitagentjs_ICA2NVfqru_10253221019152312.js"></script><script>
  SpreePaths = {"mounted_at":"/","admin":"admin/"}
</script>

<script src="/assets/spree/frontend/all-0281369d41354ab55fdb55cdccf3c49ba18178485a8e2a8acb9148a19a26c362.js"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<script src="https://ds.appvance.com/ds/dyn/session/getJSSession?_=0.9157254998075885"></script><script src="/ds/static/js/html2canvas.min.js"></script><script src="/ds/static/js/ds.jquery.js"></script><script src="/ds/static/js/ds.utils.js"></script><script src="/ds/static/js/ds.jquery.simulate.js"></script><script src="/ds/static/js/bililiteRange.js"></script><script src="/ds/static/js/pseudostyler.js"></script><script src="/ds/static/js/ds.smarttags.js"></script><script src="/ds/static/js/ds.base.js"></script><script src="/ds/static/js/ds.record.js"></script><script src="/ds/static/js/ds.playback.js"></script><script src="/ds/static/js/ds.entry.js"></script><script src="/ds/static/js/jquery.xpath.js"></script>


<script>
  Spree.translations = {"coupon_code_applied":"The coupon code was successfully applied to your order."}
</script>


  </head>
  <body class="one-col" id="product-details" data-hook="body">
    
    
    <div id="spree-header">
  <header id="header" data-hook="">
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook="">
          <a href="/"><img src="/assets/logo/spree_50-0ae687ccd486b63b01687b1df9e5394430f6fce3ab40c28250b179be4363ddc1.png" alt="Spree 50"></a>
        </figure>
        <nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook="">
  <li id="link-to-login"><a href="/login">Login</a></li>
<li id="search-bar" data-hook="">
      <form class="navbar-form" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <div class="form-group">
      <select name="taxon" id="taxon" aria-label="Taxon" class="form-control"><option value="">All departments</option>
<option selected="selected" value="3">Bags</option>
<option value="4">Mugs</option>
<option value="5">Clothing</option></select>
  </div>
  <div class="form-group">
    <input type="search" name="keywords" id="keywords" placeholder="Search" class="form-control">
  </div>
  <input type="submit" value="Search" class="btn btn-success" data-disable-with="Search">
</form>
    </li>
  </ul>
</nav>

      </div>
    </div>
  </header>
  <div class="container">
    <nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook="">
      <li id="home-link" data-hook=""><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook="">
      <li id="link-to-cart" data-hook=""><a class="cart-info full" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart: (1)  <span class="amount">$13.99</span></a></li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>

  </div>
</div>


    <div class="container">
      <div class="row" data-hook="">
        <nav id="breadcrumbs" class="col-md-12"><ol class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList"><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/"><span itemprop="name">Home</span></a>&nbsp;</span></li><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/products"><span itemprop="name">Products</span></a>&nbsp;</span></li><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/t/categories"><span itemprop="name">Categories</span></a>&nbsp;</span></li><li class="active" itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/t/bags"><span itemprop="name">Bags</span></a></span></li></ol></nav>

        

        <div id="content" class="col-sm-12" data-hook="">
          
          
<script>
  if (typeof analytics !== 'undefined') {
    analytics.track('Product Viewed', {"product_id":12,"sku":"SPR-00012","category":"Bags","name":"Spree Bag","brand":"Spree","price":"22.99","currency":"USD","url":"https://demosite.appvance.com/products/spree-bag","image_url":"https://demosite.appvance.com/spree/products/35/product/spree_bag.jpeg?1527769337"});
  }
</script>


  <div data-hook="product_show" class="row" itemscope="" itemtype="https://schema.org/Product">
    <div class="col-md-4 col-sm-5" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook="">
            <div class="panel-body text-center">
              <img itemprop="image" alt="Spree Bag" src="/spree/products/35/product/spree_bag.jpeg?1527769337">
            </div>
          </div>
          <div id="thumbnails" data-hook="">
            
          </div>
        </div>

        <div data-hook="product_properties">
            <h3 class="product-section-title">Properties</h3>
  <table id="product-properties" class="table table-striped" data-hook="">
    <tbody>
        <tr class="even">
          <td><strong>Type</strong></td>
          <td>Messenger</td>
        </tr>
        <tr class="odd">
          <td><strong>Size</strong></td>
          <td>14 1/2" x 12" x 5"</td>
        </tr>
    </tbody>
  </table>

        </div>

        <div data-hook="promotions">
          

        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name">Spree Bag</h1>

          <div class="well" itemprop="description" data-hook="description">
            Ad et corporis voluptate enim quisquam sunt. Rem corrupti esse dolores pariatur ad non excepturi. Amet quasi modi at quia atque distinctio omnis. Magnam voluptatibus ut sit et est ut id dolorum.
          </div>

          <div id="cart-form" data-hook="cart_form">
            <form action="/orders/populate" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="2BZymuhIKE+rJHR/r5K53iQaMToCKdbnE6fLqJkGaFFh/iBz7A9qrXAhWjN4P0iNpMwg0YTVlybVUZfzPl9V4A==">
  <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
      <input type="hidden" name="variant_id" id="variant_id" value="12">

      <div data-hook="product_price" class="col-md-5">
        <div id="product-price">
          <h6 class="product-section-title">Price</h6>
          <div>
            <span class="lead price selling" itemprop="price" content="22.99">
              $22.99
            </span>
            <span itemprop="priceCurrency" content="USD"></span>
          </div>

            <link itemprop="availability" href="https://schema.org/InStock">
        </div>

          <div class="add-to-cart">
            <br>
            <div class="input-group">
              <input type="number" name="quantity" id="quantity" value="1" class="title form-control" min="1">
              <span class="input-group-btn">
                <button name="button" type="submit" class="btn btn-success" id="add-to-cart-button">
                  Add To Cart
</button>              </span>
            </div>
          </div>
      </div>
  </div>
</form>
          </div>
        </div>

        <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
            <h3 class="product-section-title">Look for similar items</h3>
  <ul class="list-group" id="similar_items_by_taxon" data-hook="">
      <li class="list-group-item"><a href="/t/bags">Bags</a></li>
      <li class="list-group-item"><a href="/t/spree">Spree</a></li>
  </ul>

        </div>
      </div>
    </div>
  </div>

        </div>

        
      </div>
    </div>
  

</body>