<!--<![endif]--><head data-hook="inside_head">
    <meta charset="utf-8">
<title>Shopping Cart - Appvance Demo Site</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="keywords" content="">
<meta name="description" content="">
<link href="https://demosite.appvance.com/cart" rel="canonical">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-92e86d463e909754599d66730477622cd3dd0b9bff58c47c9c38bebceb8073e5.ico">
<link rel="stylesheet" media="screen" href="/assets/spree/frontend/all-dcce360e77937eb06679c31bcd694097abc747ae87d2bc292fddd5318b67ceff.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="w0bPukffLHVGIFd/hNRB69c5ry0PPwQU3ZsL5/DnnY+KelZtOHUj5n/uH1Gis0CJJSHioG7BZHzdbMgtIh6aIA==">
<script type="text/javascript" src="/ruxitagentjs_ICA2NVfqru_10255221104040649.js" data-dtconfig="rid=RID_1440002514|rpid=1164105506|domain=appvance.com|reportUrl=/rb_bf48486mbw|app=ea7c4b59f27d43eb|featureHash=ICA2NVfqru|vcv=2|rdnt=1|uxrgce=1|bp=3|cuc=hcknujxx|mel=100000|dpvc=1|ssv=4|lastModification=1674205472539|dtVersion=10255221104040649|tp=500,50,0,1|uxdcw=1500|agentUri=/ruxitagentjs_ICA2NVfqru_10255221104040649.js"></script><script>
  SpreePaths = {"mounted_at":"/","admin":"admin/"}
</script>

<script src="/assets/spree/frontend/all-0281369d41354ab55fdb55cdccf3c49ba18178485a8e2a8acb9148a19a26c362.js"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<script src="https://ds.appvance.com/ds/dyn/session/getJSSession?_=0.8763135474119489"></script><script src="/ds/static/js/html2canvas.min.js"></script><script src="/ds/static/js/ds.jquery.js"></script><script src="/ds/static/js/ds.utils.js"></script><script src="/ds/static/js/ds.jquery.simulate.js"></script><script src="/ds/static/js/bililiteRange.js"></script><script src="/ds/static/js/pseudostyler.js"></script><script src="/ds/static/js/ds.smarttags.js"></script><script src="/ds/static/js/ds.websocket.js"></script><script src="/ds/static/js/ds.base.js"></script><script src="/ds/static/js/ds.record.js"></script><script src="/ds/static/js/ds.playback.js"></script><script src="/ds/static/js/ds.entry.js"></script><script src="/ds/static/js/jquery.xpath.js"></script>


<script>
  Spree.translations = {"coupon_code_applied":"The coupon code was successfully applied to your order."}
</script>


  </head>
  <body class="one-col" id="cart" data-hook="body">
    
    
    <div id="spree-header">
  <header id="header" data-hook="">
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook="">
          <a href="/"><img src="/assets/logo/spree_50-0ae687ccd486b63b01687b1df9e5394430f6fce3ab40c28250b179be4363ddc1.png" alt="Spree 50"></a>
        </figure>
        <nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook="">
  <li id="link-to-login"><a href="/login">Login</a></li>
<li id="search-bar" data-hook="">
      <form class="navbar-form" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <div class="form-group">
      <select name="taxon" id="taxon" aria-label="Taxon" class="form-control"><option value="">All departments</option>
<option value="1">Categories</option>
<option value="2">Brands</option></select>
  </div>
  <div class="form-group">
    <input type="search" name="keywords" id="keywords" placeholder="Search" class="form-control">
  </div>
  <input type="submit" value="Search" class="btn btn-success" data-disable-with="Search">
</form>
    </li>
  </ul>
</nav>

      </div>
    </div>
  </header>
  <div class="container">
    <nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook="">
      <li id="home-link" data-hook=""><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook="">
      <li id="link-to-cart" data-hook=""><a class="cart-info empty" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart: (Empty)</a></li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>

  </div>
</div>


    <div class="container">
      <div class="row" data-hook="">
        

        

        <div id="content" class="col-sm-12" data-hook="">
          
          
<script>
  if (typeof analytics !== 'undefined') {
    analytics.track('Cart Viewed', {
      cart_id: '',
      products: [
      ]
    });
  }
</script>

<div data-hook="cart_container">
  <h1>Shopping Cart</h1>

    <div data-hook="empty_cart">
      <div class="alert alert-info">Your cart is empty</div>
      <p><a class="btn btn-default" href="/products">Continue shopping</a></p>
    </div>
</div>

<script>
  Spree.current_order_id = ""
  Spree.current_order_token = "w7aF2OO2OB1Cjgbdji-DgQ1674232922358"
</script>

        </div>

        
      </div>
    </div>
  

</body>