<!--<![endif]--><head data-hook="inside_head">
    <meta charset="utf-8">
<title>Shopping Cart - Appvance Demo Site</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="keywords" content="">
<meta name="description" content="">
<link href="https://demosite.appvance.com/cart" rel="canonical">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-92e86d463e909754599d66730477622cd3dd0b9bff58c47c9c38bebceb8073e5.ico">
<link rel="stylesheet" media="screen" href="/assets/spree/frontend/all-dcce360e77937eb06679c31bcd694097abc747ae87d2bc292fddd5318b67ceff.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="R1bu8PmTvlMdibJjWlnLXPrqw5G39SWuKnMrkhQYb55RcBVAjAxYx+WvcTPPOWvMckvqGSS77LYjgV6PtHK4cA==">
<script type="text/javascript" src="/ruxitagentjs_ICA2NVfqru_10255221104040649.js" data-dtconfig="rid=RID_-943579333|rpid=143083780|domain=appvance.com|reportUrl=/rb_bf48486mbw|app=ea7c4b59f27d43eb|featureHash=ICA2NVfqru|vcv=2|rdnt=1|uxrgce=1|bp=3|cuc=hcknujxx|mel=100000|dpvc=1|ssv=4|lastModification=1674205472539|dtVersion=10255221104040649|tp=500,50,0,1|uxdcw=1500|agentUri=/ruxitagentjs_ICA2NVfqru_10255221104040649.js"></script><script>
  SpreePaths = {"mounted_at":"/","admin":"admin/"}
</script>

<script src="/assets/spree/frontend/all-0281369d41354ab55fdb55cdccf3c49ba18178485a8e2a8acb9148a19a26c362.js"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<script src="https://ds.appvance.com/ds/dyn/session/getJSSession?_=0.8763135474119489"></script><script src="/ds/static/js/html2canvas.min.js"></script><script src="/ds/static/js/ds.jquery.js"></script><script src="/ds/static/js/ds.utils.js"></script><script src="/ds/static/js/ds.jquery.simulate.js"></script><script src="/ds/static/js/bililiteRange.js"></script><script src="/ds/static/js/pseudostyler.js"></script><script src="/ds/static/js/ds.smarttags.js"></script><script src="/ds/static/js/ds.websocket.js"></script><script src="/ds/static/js/ds.base.js"></script><script src="/ds/static/js/ds.record.js"></script><script src="/ds/static/js/ds.playback.js"></script><script src="/ds/static/js/ds.entry.js"></script><script src="/ds/static/js/jquery.xpath.js"></script>


<script>
  Spree.translations = {"coupon_code_applied":"The coupon code was successfully applied to your order."}
</script>


  </head>
  <body class="one-col" id="cart" data-hook="body">
    
    
    <div id="spree-header">
  <header id="header" data-hook="">
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook="">
          <a href="/"><img src="/assets/logo/spree_50-0ae687ccd486b63b01687b1df9e5394430f6fce3ab40c28250b179be4363ddc1.png" alt="Spree 50"></a>
        </figure>
        <nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook="">
  <li id="link-to-login"><a href="/login">Login</a></li>
<li id="search-bar" data-hook="">
      <form class="navbar-form" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <div class="form-group">
      <select name="taxon" id="taxon" aria-label="Taxon" class="form-control"><option value="">All departments</option>
<option value="1">Categories</option>
<option value="2">Brands</option></select>
  </div>
  <div class="form-group">
    <input type="search" name="keywords" id="keywords" placeholder="Search" class="form-control">
  </div>
  <input type="submit" value="Search" class="btn btn-success" data-disable-with="Search">
</form>
    </li>
  </ul>
</nav>

      </div>
    </div>
  </header>
  <div class="container">
    <nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook="">
      <li id="home-link" data-hook=""><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook="">
      <li id="link-to-cart" data-hook=""><a class="cart-info full" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart: (3)  <span class="amount">$48.97</span></a></li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>

  </div>
</div>


    <div class="container">
      <div class="row" data-hook="">
        

        

        <div id="content" class="col-sm-12" data-hook="">
          
          
<script>
  if (typeof analytics !== 'undefined') {
    analytics.track('Cart Viewed', {
      cart_id: 'R173175480',
      products: [
        {"product_id":272164,"sku":"SPR-00011","category":"Bags","name":"Spree Tote","brand":"Spree","price":"15.99","currency":"USD","url":"https://demosite.appvance.com/products/272164","position":1,"quantity":1},
        {"product_id":272165,"sku":"ROR-00016","category":"Mugs","name":"Ruby on Rails Stein","brand":"Rails","price":"16.99","currency":"USD","url":"https://demosite.appvance.com/products/272165","position":2,"quantity":1},
        {"product_id":272167,"sku":"ROR-00011","category":"Bags","name":"Ruby on Rails Tote","brand":"Rails","price":"15.99","currency":"USD","url":"https://demosite.appvance.com/products/272167","position":3,"quantity":1},
      ]
    });
  }
</script>

<div data-hook="cart_container">
  <h1>Shopping Cart</h1>

    <div data-hook="outside_cart_form">
      <form id="update-cart" class="edit_order" action="/cart" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="R1bu8PmTvlMdibJjWlnLXPrqw5G39SWuKnMrkhQYb55RcBVAjAxYx+WvcTPPOWvMckvqGSS77LYjgV6PtHK4cA==">
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items" class="table-responsive">
            
<table class="table" id="cart-detail" data-hook="">
  <thead>
    <tr class="active" data-hook="cart_items_headers">
      <th class="cart-item-description-header" colspan="2">Item</th>
      <th class="cart-item-price-header">Price</th>
      <th class="cart-item-quantity-header">Qty</th>
      <th class="cart-item-total-header">Total</th>
      <th class="cart-item-delete-header"></th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook="">
    

  <tr class="line-item">
    <td class="cart-item-image" data-hook="cart_item_image">
        <a href="/products/spree-tote"><img src="/spree/products/36/small/spree_tote_front.jpeg?1527769338" alt="Spree tote front"></a>
    </td>
    <td class="cart-item-description" data-hook="cart_item_description">
      <h4><a href="/products/spree-tote">Spree Tote</a></h4>
      
      <span class="line-item-description" data-hook="line_item_description">
        Autem iste id numquam porro. Molestiae natus velit laudantium optio. Placeat vero facilis illum p...
      </span>
    </td>
    <td class="lead text-primary cart-item-price" data-hook="cart_item_price">
      $15.99
    </td>
    <td class="cart-item-quantity" data-hook="cart_item_quantity" valign="center">
      <input min="0" class="form-control line_item_quantity" size="5" type="number" value="1" name="order[line_items_attributes][0][quantity]" id="order_line_items_attributes_0_quantity">
    </td>
    <td class="lead text-primary cart-item-total" data-hook="cart_item_total">
      $15.99
    </td>
    <td class="cart-item-delete" data-hook="cart_item_delete">
      <a class="delete" id="delete_line_item_272164" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
    </td>
  </tr>
<input type="hidden" value="272164" name="order[line_items_attributes][0][id]" id="order_line_items_attributes_0_id">

  <tr class="line-item">
    <td class="cart-item-image" data-hook="cart_item_image">
        <a href="/products/ruby-on-rails-stein"><img src="/spree/products/31/small/ror_stein.jpeg?1527769332" alt="Ror stein"></a>
    </td>
    <td class="cart-item-description" data-hook="cart_item_description">
      <h4><a href="/products/ruby-on-rails-stein">Ruby on Rails Stein</a></h4>
      
      <span class="line-item-description" data-hook="line_item_description">
        Possimus placeat et nobis laudantium sint. Est consequatur totam vero dolor maiores impedit aut q...
      </span>
    </td>
    <td class="lead text-primary cart-item-price" data-hook="cart_item_price">
      $16.99
    </td>
    <td class="cart-item-quantity" data-hook="cart_item_quantity" valign="center">
      <input min="0" class="form-control line_item_quantity" size="5" type="number" value="1" name="order[line_items_attributes][1][quantity]" id="order_line_items_attributes_1_quantity">
    </td>
    <td class="lead text-primary cart-item-total" data-hook="cart_item_total">
      $16.99
    </td>
    <td class="cart-item-delete" data-hook="cart_item_delete">
      <a class="delete" id="delete_line_item_272165" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
    </td>
  </tr>
<input type="hidden" value="272165" name="order[line_items_attributes][1][id]" id="order_line_items_attributes_1_id">

  <tr class="line-item">
    <td class="cart-item-image" data-hook="cart_item_image">
        <a href="/products/ruby-on-rails-tote"><img src="/spree/products/21/small/ror_tote.jpeg?1527769324" alt="Ror tote"></a>
    </td>
    <td class="cart-item-description" data-hook="cart_item_description">
      <h4><a href="/products/ruby-on-rails-tote">Ruby on Rails Tote</a></h4>
      
      <span class="line-item-description" data-hook="line_item_description">
        Amet debitis quibusdam sunt eos ut. Aut consequuntur reprehenderit ipsam eum voluptates debitis o...
      </span>
    </td>
    <td class="lead text-primary cart-item-price" data-hook="cart_item_price">
      $15.99
    </td>
    <td class="cart-item-quantity" data-hook="cart_item_quantity" valign="center">
      <input min="0" class="form-control line_item_quantity" size="5" type="number" value="1" name="order[line_items_attributes][2][quantity]" id="order_line_items_attributes_2_quantity">
    </td>
    <td class="lead text-primary cart-item-total" data-hook="cart_item_total">
      $15.99
    </td>
    <td class="cart-item-delete" data-hook="cart_item_delete">
      <a class="delete" id="delete_line_item_272167" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
    </td>
  </tr>
<input type="hidden" value="272167" name="order[line_items_attributes][2][id]" id="order_line_items_attributes_2_id">
  </tbody>
  <tbody><tr class="warning cart-total">
    <td colspan="4" align="right"><h5>Total</h5></td>
    <td class="lead" colspan="">$48.97</td>
    <td></td>
  </tr>
</tbody></table>

          </div>

          <div class="links col-md-3 navbar-form pull-right text-right" data-hook="cart_buttons">
            <div class="form-group">
              <button name="button" type="submit" class="btn btn-primary" id="update-button">
                Update
</button>              <button name="checkout" type="submit" class="btn btn-lg btn-success" id="checkout-link">
                Checkout
</button>            </div>
          </div>

            <div class="col-md-6 form-inline pull-right" data-hook="coupon_code">
              <label>
                <label for="order_coupon_code">Coupon Code</label>
                <input size="30" class="form-control" type="text" name="order[coupon_code]" id="order_coupon_code">
                <button name="button" type="submit" class="btn btn-default">Apply</button>
              </label>
            </div>
        </div>
</form>    </div>

    <div id="empty-cart" class="col-md-3 pull-left" data-hook="">
      <form action="/cart/empty" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="R1bu8PmTvlMdibJjWlnLXPrqw5G39SWuKnMrkhQYb55RcBVAjAxYx+WvcTPPOWvMckvqGSS77LYjgV6PtHK4cA==">
        <p id="clear_cart_link" data-hook="">
          <input type="submit" name="commit" value="Empty Cart" class="btn btn-default" data-disable-with="Empty Cart">
          or
          <a class="continue" href="/products">Continue shopping</a>
        </p>
</form>    </div>
</div>

<script>
  Spree.current_order_id = "R173175480"
  Spree.current_order_token = "BvkOmQ3AQiOvkRJiUZ50vA1674233215427"
</script>

        </div>

        
      </div>
    </div>
  

</body>