<!--<![endif]--><head data-hook="inside_head">
    <meta charset="utf-8">
<title>Ruby on Rails Ringer T-Shirt - Appvance Demo Site</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="description" content="Voluptatem cum ea est ea deleniti magni. Deleniti deserunt in cupiditate temporibus labore. Labore consequatur velit inventore optio nam magni.">
<meta name="keywords" content="">
<link href="https://demosite.appvance.com/products/ruby-on-rails-ringer-t-shirt" rel="canonical">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-92e86d463e909754599d66730477622cd3dd0b9bff58c47c9c38bebceb8073e5.ico">
<link rel="stylesheet" media="screen" href="/assets/spree/frontend/all-dcce360e77937eb06679c31bcd694097abc747ae87d2bc292fddd5318b67ceff.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="E1MoNa0d84diQ22vXDowOhXyzU+kAOwvE8tEyI6O/SQLwYU0olk8zhV0W565S3KO4wSRrmHxhY+Dv3tGqyPhgQ==">
<script type="text/javascript" src="/ruxitagentjs_ICA2NVfqru_10255221104040649.js" data-dtconfig="rid=RID_2045952753|rpid=-188468681|domain=appvance.com|reportUrl=/rb_bf48486mbw|app=ea7c4b59f27d43eb|featureHash=ICA2NVfqru|vcv=2|rdnt=1|uxrgce=1|bp=3|cuc=hcknujxx|mel=100000|dpvc=1|ssv=4|lastModification=1674205472539|dtVersion=10255221104040649|tp=500,50,0,1|uxdcw=1500|agentUri=/ruxitagentjs_ICA2NVfqru_10255221104040649.js"></script><script>
  SpreePaths = {"mounted_at":"/","admin":"admin/"}
</script>

<script src="/assets/spree/frontend/all-0281369d41354ab55fdb55cdccf3c49ba18178485a8e2a8acb9148a19a26c362.js"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<script src="https://ds.appvance.com/ds/dyn/session/getJSSession?_=0.8763135474119489"></script><script src="/ds/static/js/html2canvas.min.js"></script><script src="/ds/static/js/ds.jquery.js"></script><script src="/ds/static/js/ds.utils.js"></script><script src="/ds/static/js/ds.jquery.simulate.js"></script><script src="/ds/static/js/bililiteRange.js"></script><script src="/ds/static/js/pseudostyler.js"></script><script src="/ds/static/js/ds.smarttags.js"></script><script src="/ds/static/js/ds.websocket.js"></script><script src="/ds/static/js/ds.base.js"></script><script src="/ds/static/js/ds.record.js"></script><script src="/ds/static/js/ds.playback.js"></script><script src="/ds/static/js/ds.entry.js"></script><script src="/ds/static/js/jquery.xpath.js"></script>


<script>
  Spree.translations = {"coupon_code_applied":"The coupon code was successfully applied to your order."}
</script>


  </head>
  <body class="one-col" id="product-details" data-hook="body">
    
    
    <div id="spree-header">
  <header id="header" data-hook="">
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook="">
          <a href="/"><img src="/assets/logo/spree_50-0ae687ccd486b63b01687b1df9e5394430f6fce3ab40c28250b179be4363ddc1.png" alt="Spree 50"></a>
        </figure>
        <nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook="">
  <li id="link-to-login"><a href="/login">Login</a></li>
<li id="search-bar" data-hook="">
      <form class="navbar-form" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <div class="form-group">
      <select name="taxon" id="taxon" aria-label="Taxon" class="form-control"><option value="">All departments</option>
<option value="6">Shirts</option>
<option selected="selected" value="7">T-Shirts</option></select>
  </div>
  <div class="form-group">
    <input type="search" name="keywords" id="keywords" placeholder="Search" class="form-control">
  </div>
  <input type="submit" value="Search" class="btn btn-success" data-disable-with="Search">
</form>
    </li>
  </ul>
</nav>

      </div>
    </div>
  </header>
  <div class="container">
    <nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook="">
      <li id="home-link" data-hook=""><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook="">
      <li id="link-to-cart" data-hook=""><a class="cart-info empty" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart: (Empty)</a></li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>

  </div>
</div>


    <div class="container">
      <div class="row" data-hook="">
        <nav id="breadcrumbs" class="col-md-12"><ol class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList"><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/"><span itemprop="name">Home</span></a>&nbsp;</span></li><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/products"><span itemprop="name">Products</span></a>&nbsp;</span></li><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/t/categories"><span itemprop="name">Categories</span></a>&nbsp;</span></li><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/t/clothing"><span itemprop="name">Clothing</span></a>&nbsp;</span></li><li class="active" itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/t/t-shirts"><span itemprop="name">T-Shirts</span></a></span></li></ol></nav>

        

        <div id="content" class="col-sm-12" data-hook="">
          
          
<script>
  if (typeof analytics !== 'undefined') {
    analytics.track('Product Viewed', {"product_id":5,"sku":"ROR-00015","category":"T-Shirts","name":"Ruby on Rails Ringer T-Shirt","brand":"Rails","price":"19.99","currency":"USD","url":"https://demosite.appvance.com/products/ruby-on-rails-ringer-t-shirt","image_url":"https://demosite.appvance.com/spree/products/29/product/ror_ringer.jpeg?1527769331"});
  }
</script>


  <div data-hook="product_show" class="row" itemscope="" itemtype="https://schema.org/Product">
    <div class="col-md-4 col-sm-5" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook="">
            <div class="panel-body text-center">
              <img itemprop="image" alt="Ruby on Rails Ringer T-Shirt" src="/spree/products/29/product/ror_ringer.jpeg?1527769331">
            </div>
          </div>
          <div id="thumbnails" data-hook="">
              <ul id="product-thumbnails" class="thumbnails list-inline" data-hook="">
      <li class="tmb-all tmb-5 selected">
        <a href="/spree/products/29/product/ror_ringer.jpeg?1527769331"><img class="thumbnail" src="/spree/products/29/mini/ror_ringer.jpeg?1527769331" alt="Ror ringer"></a>
      </li>
      <li class="tmb-all tmb-5">
        <a href="/spree/products/30/product/ror_ringer_back.jpeg?1527769331"><img class="thumbnail" src="/spree/products/30/mini/ror_ringer_back.jpeg?1527769331" alt="Ror ringer back"></a>
      </li>

  </ul>

          </div>
        </div>

        <div data-hook="product_properties">
            <h3 class="product-section-title">Properties</h3>
  <table id="product-properties" class="table table-striped" data-hook="">
    <tbody>
        <tr class="even">
          <td><strong>Manufacturer</strong></td>
          <td>Jerseys</td>
        </tr>
        <tr class="odd">
          <td><strong>Brand</strong></td>
          <td>Conditioned</td>
        </tr>
        <tr class="even">
          <td><strong>Model</strong></td>
          <td>TL9002</td>
        </tr>
        <tr class="odd">
          <td><strong>Shirt Type</strong></td>
          <td>Ringer T</td>
        </tr>
        <tr class="even">
          <td><strong>Sleeve Type</strong></td>
          <td>Short</td>
        </tr>
        <tr class="odd">
          <td><strong>Made from</strong></td>
          <td>100% Vellum</td>
        </tr>
        <tr class="even">
          <td><strong>Fit</strong></td>
          <td>Loose</td>
        </tr>
        <tr class="odd">
          <td><strong>Gender</strong></td>
          <td>Men's</td>
        </tr>
    </tbody>
  </table>

        </div>

        <div data-hook="promotions">
          

        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name">Ruby on Rails Ringer T-Shirt</h1>

          <div class="well" itemprop="description" data-hook="description">
            Voluptatem cum ea est ea deleniti magni. Deleniti deserunt in cupiditate temporibus labore. Labore consequatur velit inventore optio nam magni.
          </div>

          <div id="cart-form" data-hook="cart_form">
            <form action="/orders/populate" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="E1MoNa0d84diQ22vXDowOhXyzU+kAOwvE8tEyI6O/SQLwYU0olk8zhV0W565S3KO4wSRrmHxhY+Dv3tGqyPhgQ==">
  <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
      <input type="hidden" name="variant_id" id="variant_id" value="5">

      <div data-hook="product_price" class="col-md-5">
        <div id="product-price">
          <h6 class="product-section-title">Price</h6>
          <div>
            <span class="lead price selling" itemprop="price" content="19.99">
              $19.99
            </span>
            <span itemprop="priceCurrency" content="USD"></span>
          </div>

            <link itemprop="availability" href="https://schema.org/InStock">
        </div>

          <div class="add-to-cart">
            <br>
            <div class="input-group">
              <input type="number" name="quantity" id="quantity" value="1" class="title form-control" min="1">
              <span class="input-group-btn">
                <button name="button" type="submit" class="btn btn-success" id="add-to-cart-button">
                  Add To Cart
</button>              </span>
            </div>
          </div>
      </div>
  </div>
</form>
          </div>
        </div>

        <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
            <h3 class="product-section-title">Look for similar items</h3>
  <ul class="list-group" id="similar_items_by_taxon" data-hook="">
      <li class="list-group-item"><a href="/t/t-shirts">T-Shirts</a></li>
      <li class="list-group-item"><a href="/t/rails">Rails</a></li>
  </ul>

        </div>
      </div>
    </div>
  </div>

        </div>

        
      </div>
    </div>
  

</body>